<launch>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" output="screen">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.2" />
  </node>

  <!-- fugu_teleop_joy -->
  <node pkg="fugu_teleoperation" type="fugu_teleop_joy_node" name="fugu_teleop_joy_node" output="screen">
    <param name="policy_bttn" value="0" />
    <rosparam param="wrench_policy" file="$(find fugu_teleoperation)/launch/wrench_policy_params.yaml" />
    <rosparam param="motor_policy" file="$(find fugu_teleoperation)/launch/motor_policy_params.yaml" />
  </node>

</launch>

